<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Data Akhir</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            table {
                text-align: center;
            }
             .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
            
            }
        </style>
    </head>
    <body>
        <h1>Nota Pembelian</h1>
        <hr><!-- comment -->
            <table border="1">
                <thead>
                    <tr>
                        <td>Nama Buku</td>
                        <td>Jumlah Buku</td>
                        <td>Harga Buku</td>
                        <td>Total Harga</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td th:text="${Nama}"></td>
                        <td th:text="${Barang}"></td><!-- comment -->
                        <td th:text="${Harga}"></td>
                        <td th:text="${Total}"></td>
                    </tr>

                    <tr>
                    <td colspan="4" align="center"> 
                    </td>
                </tr>

                <tr>
                    <td>Diskon</td>
                    <td colspan="3" th:text="${TotalDiskon}"></td>
                </tr>

                <tr>
                    <td>Total</td><!-- comment -->
                    <td colspan="3" th:text="${Diskon}"></td>
                </tr>
                </tbody>
            </table>
    </body>
    <div class="footer">
        <p>author: Nia Audita 20200140108</p>
    </div>
</html>
